.grid {
    width: 100px;
    height: 100px;
    display: grid;
    place-content: center;

    img{
        width: 70px;
        height: 70px;
    }
  }
  .purple{
    background-color: rgb(62, 61, 61)
  }
  .pink{
    background-color: white;
  }