.grid {
    width: 100px;
    height: 100px;
    display: grid;
    place-content: center;

    .img{
        width: 100px;
        height: 100px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 80px;
    }

    .img:hover{
        cursor: grab;
    }

    .img:active{
        cursor: grabbing;
    }

  }
  .purple{
    background-color: rgb(62, 61, 61)
  }
  .pink{
    background-color: white;
  }