.board-div {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; /* Keeps board and other elements stacked */

  .board {
    width: 800px;
    height: 800px;
    display: grid;
    grid-template-columns: repeat(8, 100px);
    grid-template-rows: repeat(8, 100px);
    margin-top: 20px;
    box-shadow:
      0 0 60px 0 black,
      0 0 60px 0 #373837,
      0 0 60px 0 rgb(97, 96, 97);
  }
}

.modal{
  position: absolute;
  left: 0px;
  right: 0px;
  top:0px;
  bottom: 0px;
}
/* This ensures the modal appears in the exact center of the screen */
.pawn-promotion-modal {
  position: fixed; 
  width: 800px;
  height: 300px;
  background-color: rgba(0, 0, 0, 0.8); 
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 1.5rem;
  border-radius: 10px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
  z-index: 100;

  img{
    height: 120px;
    width: 120px;
    border-radius: 50%;
    padding: 20px;
  }

  img:hover{
    cursor: pointer;
    transform: scale(1.2);
    background-color: rgba(255, 255, 255, 0.6);
  }
}
